Repository Kangdyu/lots-for-all, pull requests merged in 2022-06, with the labels that each got.

#3 feat(backend): env & DB settings
  backend/.eslintrc.js
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/src/users/entities/users.entitiy.ts
  backend/src/users/users.controller.spec.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Labels: backend

#4 feat: login 이랑 register 페이지 구현
  frontend/src/components/common/AuthFormContainer/index.tsx
  frontend/src/components/common/AuthFormContainer/styles.tsx
  frontend/src/components/common/Input/index.tsx
  frontend/src/components/common/Logo/index.tsx
  frontend/src/components/common/Logo/styles.tsx
  frontend/src/components/pages/Login/index.tsx
  frontend/src/components/pages/Login/styles.tsx
  frontend/src/components/pages/Register/index.tsx
  frontend/src/components/pages/Register/styles.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/register.tsx
  frontend/src/styles/GlobalStyles.tsx
  frontend/src/styles/reset.ts
Labels: frontend

#6 feat: 추첨 페이지 기본 레이아웃
  frontend/package-lock.json
  frontend/public/images/lottery.png
  frontend/public/images/racing.png
  frontend/public/images/roulette.png
  frontend/src/components/common/GameCard/index.tsx
  frontend/src/components/common/GameCard/styles.tsx
  frontend/src/components/common/Navigation/index.tsx
  frontend/src/components/common/SectionTitle/index.tsx
  frontend/src/components/pages/pick/GameListSection/index.tsx
  frontend/src/components/pages/pick/GameListSection/styles.tsx
  frontend/src/components/pages/pick/GameSection/index.tsx
  frontend/src/components/pages/pick/GameSection/styles.tsx
  frontend/src/constants/games.ts
  frontend/src/constants/routes.ts
  frontend/src/pages/pick/[game].tsx
  frontend/src/pages/pick/index.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontend

#7 feature(backend) login api & get user info
  backend/.eslintrc.js
  backend/.prettierrc
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/common/interfaces/CommonResponse.ts
  backend/src/users/dto/create-user.dto.ts
  backend/src/users/dto/login-dto.ts
  backend/src/users/dto/user-info.dto.ts
  backend/src/users/entities/users.entitiy.ts
  backend/src/users/jwt/jwt.guard.ts
  backend/src/users/jwt/jwt.payload.ts
  backend/src/users/jwt/jwt.strategy.ts
  backend/src/users/users.controller.spec.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.spec.ts
  backend/src/users/users.service.ts
Labels: backend

#9 feat: 게임 기본 폼 구현 (1/2)
  frontend/.eslintrc.js
  frontend/src/components/common/Input/index.tsx
  frontend/src/components/pages/pick/GameNavigation/index.tsx
  frontend/src/components/pages/pick/GameNavigation/styles.tsx
  frontend/src/components/pages/pick/GameSection/index.tsx
  frontend/src/components/pages/pick/GameSection/styles.tsx
  frontend/src/pages/pick/[game].tsx
Labels: frontend

#10 feat: 게임 기본 폼 구현 (2/2)
  frontend/src/components/common/Input/styles.tsx
  frontend/src/components/pages/pick/GameSection/index.tsx
  frontend/src/components/pages/pick/GameSection/styles.tsx
  frontend/src/components/pages/pick/NameTag/index.tsx
  frontend/src/components/pages/pick/NameTag/styles.tsx
Labels: frontend

#12 feat: 룰렛 게임 구현
  frontend/src/components/pages/pick/GameSection/index.tsx
  frontend/src/components/pages/pick/NameTag/index.tsx
  frontend/src/components/pages/pick/RouletteGame/Roulette.ts
  frontend/src/components/pages/pick/RouletteGame/index.tsx
  frontend/src/components/pages/pick/RouletteGame/styles.tsx
  frontend/src/hooks/useCanvas.ts
  frontend/src/hooks/useClientRect.ts
Labels: frontend

#15 feat: 경마 게임 구현
  frontend/src/components/pages/pick/GameSection/index.tsx
  frontend/src/components/pages/pick/RacingGame/Racing.ts
  frontend/src/components/pages/pick/RacingGame/index.tsx
Labels: frontend

#17 feat: swr을 이용하여 인증 상태 관리
  frontend/src/components/common/Modal/index.tsx
  frontend/src/components/common/Navigation/NavBarProfileCard/NavBarProfileDropdown/index.tsx
  frontend/src/components/common/Navigation/NavBarProfileCard/index.tsx
  frontend/src/components/common/Navigation/index.tsx
  frontend/src/hooks/useUser.ts
  frontend/src/pages/_app.tsx
  frontend/src/pages/login.tsx
  frontend/src/utils/fetcher.ts
  frontend/src/utils/logout.ts
Labels: frontend

#19 feat: 게임 설정 form 로그인 전용 기능
  frontend/src/components/pages/Login/index.tsx
  frontend/src/components/pages/pick/GameSection/index.tsx
  frontend/src/components/pages/pick/GameSection/styles.tsx
  frontend/src/components/pages/pick/RouletteGame/Roulette.ts
  frontend/src/components/pages/pick/RouletteGame/index.tsx
  frontend/src/hooks/useUser.ts
Labels: frontend

#20 feature(backend) history CRUD
  backend/src/app.module.ts
  backend/src/groups/dto/create-group.dto.ts
  backend/src/groups/dto/group-info.dto.ts
  backend/src/groups/entities/groups.entitiy.ts
  backend/src/groups/groups.controller.ts
  backend/src/groups/groups.service.ts
  backend/src/histories/dto/create-history-horse.dto.ts
  backend/src/histories/dto/create-history-ladder.dto.ts
  backend/src/histories/dto/create-history-lottery.dto.ts
  backend/src/histories/dto/create-history-roulette.dto.ts
  backend/src/histories/dto/create-history.dto.ts
  backend/src/histories/dto/history-horse-info.dto.ts
  backend/src/histories/dto/history-info.dto.ts
  backend/src/histories/dto/history-ladder-info.dto.ts
  backend/src/histories/dto/history-lottery-info.dto.ts
  backend/src/histories/dto/history-roulette-info.dto.ts
  backend/src/histories/entities/historyHorse.entity.ts
  backend/src/histories/entities/historyLadder.entity.ts
  backend/src/histories/entities/historyLottery.entity.ts
  backend/src/histories/entities/historyRoulette.entity.ts
  backend/src/histories/histories.controller.ts
  backend/src/histories/histories.module.ts
  backend/src/histories/histories.service.ts
  backend/src/users/entities/users.entitiy.ts
Labels: backend

#21 feat: 게임 설정 form 명단 기능
  frontend/src/components/common/GameFormContainer/NameListModal/index.tsx
  frontend/src/components/common/GameFormContainer/NameListModal/styles.tsx
  frontend/src/components/common/GameFormContainer/NameTag/index.tsx
  frontend/src/components/common/GameFormContainer/NameTag/styles.tsx
  frontend/src/components/common/GameFormContainer/SaveGroupModal/index.tsx
  frontend/src/components/common/GameFormContainer/SaveGroupModal/styles.tsx
  frontend/src/components/common/GameFormContainer/index.tsx
  frontend/src/components/common/GameFormContainer/styles.tsx
  frontend/src/components/common/Modal/index.tsx
  frontend/src/components/pages/pick/GameSection/index.tsx
  frontend/src/hooks/useGroups.ts
  frontend/src/hooks/useUser.ts
  frontend/src/types/api.ts
  frontend/src/utils/fetcher.ts
Labels: frontend

#25 feat: 게임 결과 서버에 보내 저장
  frontend/src/components/common/GameFormContainer/index.tsx
  frontend/src/components/pages/pick/GameSection/index.tsx
  frontend/src/components/pages/pick/RacingGame/index.tsx
  frontend/src/components/pages/pick/RouletteGame/index.tsx
Labels: frontend

#29 fix: UI 버그 수정
  frontend/src/components/common/Modal/index.tsx
  frontend/src/components/common/Navigation/NavBarProfileCard/NavBarProfileDropdown/styles.tsx
  frontend/src/components/common/Navigation/NavBarProfileCard/index.tsx
  frontend/src/components/common/Navigation/NavBarProfileCard/styles.tsx
  frontend/src/components/common/Navigation/index.tsx
  frontend/src/components/common/Navigation/styles.tsx
  frontend/src/components/pages/pick/GameNavigation/styles.tsx
  frontend/src/constants/routes.ts
  frontend/src/pages/settings.tsx
Labels: frontend

#30 feature(backend) preset crud
  backend/src/histories/histories.controller.ts
  backend/src/presets/presets.controller.ts
  backend/src/presets/presets.service.ts
Labels: backend

#32 feature(backend) history & preset sort
  backend/src/histories/histories.service.ts
  backend/src/presets/presets.service.ts
Labels: backend

#33 feat: 명단 관리 페이지
  frontend/src/components/common/GameFormContainer/NameListModal/index.tsx
  frontend/src/components/common/GameFormContainer/SaveGroupModal/index.tsx
  frontend/src/components/common/Navigation/styles.tsx
  frontend/src/components/pages/group/GroupSection/index.tsx
  frontend/src/components/pages/group/GroupSection/styles.tsx
  frontend/src/pages/groups.tsx
  frontend/src/pages/index.tsx
Labels: frontend

#34 Fix/backend
  backend/src/histories/histories.controller.ts
  backend/src/presets/presets.controller.ts
Labels: backend

#37 feat: 게임 플레이 히스토리 세팅으로 바로 시작할 수 있는 기능
  frontend/src/components/common/GameFormContainer/HistoryModal/index.tsx
  frontend/src/components/common/GameFormContainer/HistoryModal/styles.tsx
  frontend/src/components/common/GameFormContainer/index.tsx
  frontend/src/hooks/useGameHistory.ts
Labels: frontend

#38 fix(backend) fixed signup deplicate error
  backend/src/users/entities/users.entitiy.ts
  backend/src/users/users.service.ts
Labels: bug, backend

#40 feat: 스타일 이것저것
  frontend/src/components/common/Button/styles.tsx
  frontend/src/components/common/GameCard/index.tsx
  frontend/src/components/common/GameCard/styles.tsx
  frontend/src/components/common/GameFormContainer/index.tsx
  frontend/src/components/common/Modal/styles.tsx
  frontend/src/components/common/Navigation/NavBarProfileCard/index.tsx
  frontend/src/components/common/Navigation/NavBarProfileCard/styles.tsx
  frontend/src/components/common/Navigation/styles.tsx
  frontend/src/components/pages/Index/HistoryCard/index.tsx
  frontend/src/components/pages/Login/index.tsx
  frontend/src/components/pages/Login/styles.tsx
  frontend/src/components/pages/Register/index.tsx
  frontend/src/components/pages/Register/styles.tsx
  frontend/src/constants/endpoints.ts
  frontend/src/pages/404.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/groups.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/settings.tsx
Labels: frontend
